
.container {
    width: 80%;
    background-color: whitesmoke;
    margin: 50px;
    padding: 8px 20px;
    box-shadow: 4px 4px 4px grey;
    border: 1px solid grey
}

.available {
    background-color: green;
    color: white;
    display: inline-block;
    margin-right: 12px;
    padding: 3px 12px;
    border-radius: 6px;
}
.unavailable {
    background-color: red;
    color: white;
    display: inline-block;
    margin-right: 12px;
    padding: 3px 12px;
    border-radius: 6px;
}
.plus-minus {
    width: 40px;
    height: 40px;
    background-color: rgb(39, 137, 229);
    color: white;
    border: none;
    border-radius: 6px;
}